@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.haamburg {
  display: none !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@media (max-width: 1000px) {
  .dash {
    max-width: 100% !important;
  }
  .haamburg {
    display: block !important;
  }
  .show .nav {
    display: block !important;
  }
}
@media (max-width: 650px) {
  .cont-bal {
    width: 100%;
    justify-content: space-between;
  }
  .tradingview-widget-container {
    width: 100% !important;
  }
}
